.button {
    background-color: #f2c33c;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid #808080;
    margin: 0 5px 0 0; 
}

button:hover {
    background-color: #7cc272;
    color: #333333;
}

.App {
    font-family: Arial, Helvetica, sans-serif;
}

